description='datalogger configuration file for the example file given in the LICOR site with biomet'

variables = {
3:	'%Y-%m-%d',
4:	'%H:%M:%S:%f',
5:	'mrho_co2',
6:	'mrho_h2o',
7:	'theta',
8:	'p',
9:	'u',
10:	'v',
11:	'w',
12:	'theta_v',
13:	'co2_ppm',
14:	'h2o_ppt',
16:	'ch4_ppm',
17:	'mrho_ch4',
18:	'theta_7700',
19:	'p_7700'}

units={
'u':'m/s',
'v':'m/s',
'w':'m/s',
'theta':'celsius',
'theta_v':'celsius',
'theta_7700':'celsius',
'mrho_h2o':'mmol/m**3',
'mrho_co2':'mmol/m**3',
'mrho_ch4':'mmol/m**3',
'h2o_ppt':'umol/Mmol',
'co2_ppm':'mmol/kmol',
'ch4_ppm':'mmol/kmol',
'p':'kPa',
'p_7700':'kPa'
}
filename_format='%Y-%m-%dT%H%M%S.data'

date_cols=[ 3, 4 ]

frequency=10
columns_separator='whitespace'
header_lines=None
skiprows=8

