description='datalogger configuration file for data collected at Tijucas do Sul, PR, Brazil'

variables={0:'mrho_h2o',
2:'mrho_co2',
9:'theta_v',
11:'u',
12:'v',
13:'w',
}

units={
'u':'m/s',
'v':'m/s',
'w':'m/s',
'theta_v':'celsius',
'mrho_co2':'mmol/m**3',
'mrho_h2o':'mmol/m**3',
}


columns_separator='whitespace'
frequency=20
header_lines=None

filename_format='%Y%m%d-%H%M.csv'

