description='datalogger configuration file for a lake. Located at examples/lake.config'

variables={
0:'%Y-%m-%d',
1:'%H:%M:%S.%f',
2:'u',
3:'v',
4:'w',
5:'theta_v',
6:'mrho_h2o',
7:'mrho_co2',
8:'p'}

units={
'u':'m/s',
'v':'m/s',
'w':'m/s',
'theta_v':'celsius',
'mrho_co2':'mmol/m**3',
'mrho_h2o':'mmol/m**3',
'p':'kPa'
}

columns_separator=','
frequency=20
header_lines=None

filename_format='%Y%m%d-%H%M.csv'
date_cols = [0, 1]
